<div class="my-container">
    <div class="title">
        <!-- <img src="../../../assets/souto sin autoservicio.png"> -->
        <h2>Register a new employee</h2>
    </div>
    <form (ngSubmit)="saveEmployee()" >
        <div class="mb-3">
            <label for="name" class="form-label">Firstname</label>
            <input type="text" class="form-control" name="name" formControlName="name">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" name="lastname" formControlName="lastname">
        </div>
        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" name="birthday" formControlName="birthday">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" formControlName="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password">
        </div>
        <div class="mb-3">
            <label for="repeatpassword" class="form-label">Repeat password</label>
            <input type="password" class="form-control" name="repeatpassword" formControlName="repeatpassword">
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>