<div class="my-container">   
    <div class="title">
        <!-- <img src="../../../assets/souto sin autoservicio.png"> -->
        <h2>Register a new product</h2>
    </div>
    <form (ngSubmit)="SaveProduct()" [formGroup]="AddProduct">
        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" name="brand" formControlName="brand" class="form-control">
        </div>
        <div *ngIf="AddProduct.controls['brand'].getError('required') && AddProduct.controls['brand'].touched">
            <p> Enter brand </p>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="description" formControlName="description" class="form-control">
        </div>
        <div *ngIf="AddProduct.controls['description'].getError('required') && AddProduct.controls['description'].touched">
            <p> Enter description </p>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="image" formControlName="image" class="form-control">
        </div>
        <div *ngIf="AddProduct.controls['image'].getError('required') && AddProduct.controls['image'].touched">
            <p> Enter URL image </p>
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" name="code" formControlName="code" class="form-control">
        </div>
        <div *ngIf="AddProduct.controls['code'].getError('required') && AddProduct.controls['code'].touched">
            <p> Enter code </p>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price $</label>
            <input type="number" name="price" formControlName="price" class="form-control" >
        </div>
        <div *ngIf="AddProduct.controls['price'].getError('required') && AddProduct.controls['price'].touched">
            <p> Enter price </p>
        </div>

        <div *ngIf="AddProduct.touched && AddProduct.invalid">
            <p>Complete the form </p>
        </div>

        <button (click)="openDialog()">Dialog</button>
        
        <button type="submit" [disabled]="AddProduct.invalid"  class="btn btn-primary">Confirm</button>
    </form>
</div>