*{
    padding: 0px;
    margin: 0px;
}

.my-container-nav{
    width: 50%;
    background: lightblue;
    margin: auto;
}

.my-container{
    max-width: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: grey;
    margin: auto;
    border-radius: 20px;
    background: rgb(224, 35, 35);
}

.container-fluid{
    background: rgb(224, 35, 35);
    color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.nav-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.nav-link{
    font-weight: bolder;
    color: white;
}

.nav-link{
    color: white;
}

.search{
    width: 60%;
}

img{
    width: 20vh;
    margin: 10px 20px;
}

.title{
    padding: 0;
    margin: 10px 0px;
    text-align: center;
    color: white;
}

form{
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    width: 40vh;
    text-align: center;
}

.btn{
    font-weight: bolder;
    width: 20vh;
    background: white;
    color: rgb(224, 35, 35);
}

.btn:hover{
    background: linear-gradient(rgb(224, 35, 35), rgb(31, 10, 10));
    color: white;
    transition: all 1s;
    scale: 1.2;
}